<section>
  <h2>My Skills</h2>
  <div class="skills">
    <img src="/assets/stock-3.jpg" alt="" />
  </div>
</section>

<style>
  section{
    margin: 50px 0;
    user-select: none;
  }
  .skills {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    user-select: none;

  }
  .skills img {
    width: 65%;
    user-select: none;

  }
</style>
